<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
<meta charset="utf-8">
<title>dwwd	</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<body>
		<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
			<table class="table">
				<thead>
					<tr>
					<th>Id</th>
					<th>Nombres</th>
					<th>Telefono</th>
					<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="persona:${personas}">
						<td th:text="${persona.id}"></td>
						<td th:text="${persona.name}"></td>
						<td th:text="${persona.telefono}"></td>
						<td>
							<a th:href="@{/editar/} + ${persona.id}" class="btn btn-warning">Editar</a>
							<a th:onclick="eliminar([[${persona.id}]])" class="btn btn-danger">Eliminar</a>
						</td>
					
					</tr>
				</tbody>
			</table>
		</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	
<script src="funciones.js"></script>	
	</body>
</html>